/* App.css */

/* General styles for the app */
.App {
  text-align: left;
  font-family: 'Courier New', monospace;
  font-size: small;
}

/* Header styling */
.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

/* Navigation styles */
.App-header ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: left;
}

.App-header ul li {
  display: inline;
  margin: 0 15px;
  cursor: pointer;
}

.App-header ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.App-header ul li a:hover {
  text-decoration: underline;
}

/* Search bar styling */
.search-bar {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}

.search-bar input[type="text"] {
  width: 250px;
  padding: 8px;
  border: none;
  border-radius: 4px;
  margin-left: 20px;
  font-size: 14px;
}

.search-bar input[type="text"]:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Button styles */
.toggle-form-button {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  margin: 20px;
}

.toggle-form-button:hover {
  background-color: #0056b3;
}

/* Add issue form styles */
.add-issue-form {
  margin: 20px;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 2px 2px 12px #aaa;
}

.add-issue-form form div {
  margin-bottom: 10px;
}

.add-issue-form form label {
  display: block;
  margin-bottom: 5px;
}

.add-issue-form form input {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  box-sizing: border-box;
}

/* Button styles for forms */
button {
  margin: 5px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

/* Issue list container styles */
.issue-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.issues-container, .resolved-container {
  margin: 20px;
}

/* Heading styles */
.issues-container h2, .resolved-container h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.search-bar {
  margin-bottom: 20px;
}


